h1{

	text-align: center;
}


.parent-container{
/*	width: 60%;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
}


#animation-module{

	/*height: 600em;
	width:1000;*/
	border: 3px solid black;
}